body {
	background-color: #eeeeee;
/*	position: relative;*/
}

.container {
/*  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;*/
}

.box {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	border-radius: 8px;

}

img {
	max-height: 200px;
}


